@import '../../_variables';

.Invite {
  .Invite__header {
    height: 300px;
    margin-bottom: 30px;
    background: #eeeeee;
  }
  .Invite__message {
    margin-bottom: 15px;
  }
  .Invite__link__message {
    height: 1.5rem;
    font-style: italic;
    margin: 5px 0;
    font-size: 0.75rem;
  }
  .Invite__link__message--success {
    color: $success-color;
  }
  div.Invite__link {
    font-weight: 700;
    overflow-x: scroll;
    background: none;
    padding: 7.5px 10px;
    border: 1px solid #eeeeee;
    max-width: 100%;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 0.9rem;
    display: inline-block;
  }
  button.Invite__link:focus,
  button.Invite__link:active {
    text-decoration: underline;
  }
  .Invite__social {
    max-width: 520px;
    margin: auto;
    .Invite__social__wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px;
      .Invite__social__section {
        flex: 1 1 250px;
        padding: 10px 20px;
        a.Invite__social__button {
          width: 100%;
          background: $primary-color;
          padding: 20px 20px;
          color: #ffffff;
          font-size: 1rem;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 0;
          cursor: pointer;
          font-size: 0.9rem;
          border-radius: 3px;
          text-decoration: none;
          svg {
            margin-right: 10px;
            height: 20px;
            fill: #ffffff;
          }
          span {
            line-height: 20px;
          }
        }
        a.Invite__social__button--twitter {
          background: $color-blue-twitter;
        }
        a.Invite__social__button--facebook {
          background: $color-blue-facebook;
        }
      }
    }
  }
}
